# Python
__pycache__/
*.pyc
*.pyo

# Virtual environment
venv/
.env

# OS files
.DS_Store
Thumbs.db

# Huggingface cache
.cache/

# Streamlit
.streamlit/

# Optional (if vectorstore becomes too big)
# vectorstore/